<h2>Editing habits</h2>
<form action="/habits/<%= @habit.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <label>Habit names</label>
  <input type="text" name="habit[name]" value="<%= @habit.name %>" class="form-control">
  <button type="submit" class="btn btn-warning mt-2">Update</button>
</form>
